* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'euclid_circular_asemibold';
    src: url('assets/Fonts/euclid_circular_a_semibold-webfont.woff2') format('woff2'),
         url('assets/Fonts/euclid_circular_a_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*****************************
            TAGS
******************************/
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: rgb(112, 112, 112);
}

body {
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
    padding: 0;
}

figure {
    margin: 0;
}

footer {
    background-color: #f15751;
    font-size: 1em;
    margin-top: 4em;
    padding-bottom: 1.11em;
    padding-top: 1.11em;
}

ol, ul {
    margin: 0;
}

/*****************************
            CLASSES
******************************/

.article {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 2em;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e2bd34;
    border: #000000;
    border-radius: 2em;
}


.article-text {
    text-align: justify;
}

.img {
    width: 400px;
    display: block;
    width: 100%;
    border-radius: 1em;
}

.img2 {
    width: 100px;
    display: block;
    width: 100%;
    border-radius: 0.5em;
}

.img3 {
    width: 400px;
    display: block;
    width: 100%;
    border-radius: 400px;
}

.more-articles {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
}

.centered {
    text-align: center;
}

.contact-details hr {
    border: none;
    border-top: 1px solid #4f6f80;
    margin: 2em 0;
}

.contact-details h3{
    margin-bottom: 0.5em;
}

.contact-details p{
    margin: 0;
}

.contact-form .container{
    margin:0 -1rem;
}

.contact-form .row .col-12{
    margin-top: 2em;
}
.contact-form label, .contact-form input, .contact-form select, .contact-form textarea{
    display:block;
    width: 100%;
}

.contact-form label{
    margin-bottom: 0.5em;
}

.contact-form input, .contact-form select, .contact-form textarea{
    border:1px solid #4f6f80;
    font-family: inherit;
    font-size: 1em;
    padding: 0.5em;
}

.contact-form .button{
    cursor: pointer;
    padding:1em;
}

.contact-form .clear{
    background: #4f6f80
}

.contact-form :invalid{
    border-color: #ff0000;
    color: #ff0000;
}

.contact-form :invalid::placeholder{
    color: #ff0000;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.navbar {
    border-bottom: 1px solid #d1d3d5;
    padding: .5em;
    font-family: euclid_circular_asemibold, helvetica;
    font-size: 1.2em;
}

.navbar .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #e2bd34;
}

.navbar img{
    max-width: 100%;
    height: 3.5em;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.navbar-nav li {
    padding: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

.separator {
    height: 2.5em;
}

.summary li {
    margin-top: 1em;
}